/*********************************
3.6 Logo
*********************************/

.logo_container{
	position: absolute;
	top: 70%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 15px;
}
.logo_container a{
	font-size: 24px;
	color: #1e1e27;
	font-weight: 700;
	text-transform: uppercase;
}
.logo_container a span{
	color: #fe4c50;
}
.whatsapp{
	display: flex;
	position: fixed;
	width: 40px;
	height: 40px;
	bottom: 2.3%;
	right: 20%;
	background-color: black;
	opacity: 0.5;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	border-radius: 4px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}
.whatsapp:hover{
	opacity: 1;
	cursor: pointer;
} 
.whatsapp-icon{
	font-size: 22px;
	color: white;
	line-height: 1em;
}
@media screen and (min-width: 768px) {
	.whatsapp{
    display: flex;
    position: fixed;
    width: 40px;
    height: 40px;
    bottom: 40px;
    right: 100px;
    background-color: black;
    opacity: 0.5;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    border-radius: 4px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
  }
}