<!-- New Product -->
<section class="newproduct bgwhite p-t-45 p-b-105">
  <div class="container">
    <div class="sec-title p-b-52">
      <h3 class="m-text5 t-center">
        Productos
      </h3>
    </div>

    <!-- Slide2 -->
    <div class="row text-center">
      <%= render "commun/card_product" %>
    </div>

    <%# <div class="wrap-slick2">
      <div class="slick2">
      </div>
    </div> %>

    <!-- Pagination -->
    <div class="row text-center">
      <div class="col-6 col-md-3 p-b-30 m-l-r-auto">
        <div class="d-flex justify-content-center">
          <%== pagy_bootstrap_nav(@pagy) %>
        </div>
      </div>
    </div>

  </div>
</section>