<!-- Social Media -->
<section class="instagram p-t-20">
  <div class="sec-title p-b-52 p-l-15 p-r-15">
    <h3 class="m-text5 t-center">Cómo comprar</h3>
  </div>
</section>
<!-- Shipping -->
<section class="shipping bgwhite p-t-62 p-b-46">
  <div class="flex-w p-l-15 p-r-15">
    <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
      <h4 class="m-text12 t-center">
        1) Selecciona tu producto.</br> y presione el botón OBTENER.
      </h4>
      <span class="s-text11 t-center">
        Tienda abierta de Lunes a Viernes
      </span>
    </div>

    <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 bo2 respon2">
      <h4 class="m-text12 t-center">
        2) Un operador te contactará.
      </h4>
      <span class="s-text11 t-center">
        Se confirmar tu pedido para enviarte o separarte. </br>Cupones especiales. Contactanos para más información.
      </span>
    </div>

    <div class="flex-col-c w-size5 p-l-15 p-r-15 p-t-16 p-b-15 respon1">
      <h4 class="m-text12 t-center">
        3) Disfruta de tu compra.
      </h4>
      <span class="s-text11 t-center">
        Puedes retirar personal o te enviamos a domicilio. </br>Aprovecha nuestro Free Delivery, con la compra de $40 en adelante.
      </span>
    </div>
  </div>
</section>