<!-- Header -->
<%= render "commun/header" %>
<!-- Category -->
<%= render partial: "commun/category", locals: { show: @categories } %>
<!-- Slide Main -->
<%= render "product" %>
<!-- Social -->
<%= render "social"%>
<!-- Footer -->
<%= render "commun/footer"%>