<% @products.each do |product| %>
  <div class="col-6 col-md-3 p-b-30 m-l-r-auto">
    <%= link_to product_path(product) do %>
      <!-- Block2 -->
      <div class="block2">
        <div class="block2-img wrap-pic-w of-hidden pos-relative <%= 'block2-labelsale' if product.offer %> ">
          <%= image_tag(product.picture_1.url(:thumbnail), :quality=>70, :class=>"block3-img dis-block") %>
          <%# <div class="block2-overlay trans-0-4">
            <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
              <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
              <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
            </a>
            <div class="block2-btn-addcart w-size1 trans-0-4">
              <!-- Button -->
              <button class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                Obtener
              </button>
            </div>
          </div> %>
        </div>
        <div class="block2-txt p-t-20">
          <p class="block2-name dis-block s-text3 p-b-5">
            <%= product.name %>
          </p>
          <% if product.offer %>
            <span class="block2-newprice m-text8 p-r-5">
              $<%= product.price_offer %>
            </span>
          <% end %>
          <span class="block2-price m-text6 p-r-5 <%= 'block2-oldprice m-text7 p-r-5' if product.offer %>">
            $<%= product.price_base %>
          </span><br/>
          <span class="s-text6">Por:</span> <span class="s-text7"><%= product.provider.first_name %> <%= product.provider.last_name %></span>
        </div>
      </div>
    <% end %>
  </div>
<% end %>