<!-- Categorias -->
<section class="blog bgwhite p-t-50 p-b-50">
  <div class="container">
    <div class="sec-title p-b-52">
      <h3 class="m-text5 t-center">
        Categorias
      </h3>
    </div>
    <div class="row text-center">
      <% @categories.each do |category| %>
        <div class="col-6 col-md-3 p-b-30 m-l-r-auto">
          <%= link_to category_path(category) do %>
            <div class="block3">
              <%# <%= link_to image_tag(category.image.url(:thumbnail)), category_path(category), class:"block3-img dis-block" %>
              <div class="block3-txt p-t-14">
                <h4 class="p-b-7">
                  <p class="m-text11">
                    <%= category.name %>
                  </p>
                </h4>
                <p class="s-text8">
                  <%= category.description %>
                </p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</section>