<!-- Footer -->
<footer class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
  <div class="flex-w p-b-10">
    <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
      <h4 class="s-text12 p-b-30">CONTACTANOS</h4>
      <div>
        <p class="s-text7 w-size27">
          Francisco de Miranda N48-200 y Nicolás López. Quito - Ecuador
        </p>
        <div class="flex-m">
          <a href="#" class="fs-18 color1 p-r-20 fa fa-facebook"></a>
          <a href="#" class="fs-18 color1 p-r-20 fa fa-instagram"></a>
          <%= link_to "", "https://api.whatsapp.com/send?phone=978973576", class:"fs-18 color1 p-r-20 fa fa-whatsapp", alt:"WhatsApp", target: "_blank" %>
          <p class="s-text7 w-size27">Ecuador (+593)978973576</p>
        </div>
      </div>
    </div>

    <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
      <h4 class="s-text12 p-b-30">
        Menu
      </h4>

      <ul>
        <li class="<%= 'sale-noti' if current_page?(products_path) %> p-b-9"><%= link_to 'Productos', products_path %></li>
        <li class="<%= 'sale-noti' if current_page?(offers_path) %> p-b-9"><%= link_to 'Ofertas', offers_path %></li>
        <li class="<%= 'sale-noti' if current_page?(about_index_path) %> p-b-9"><%= link_to 'Quienes somos', about_index_path %></li>
      </ul>
    </div>




    <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">
      <h4 class="s-text12 p-b-30">
        Metodo de pago
      </h4>

      <div class="s-text8">
        Contra entrega.
      </div>
      <div class="s-text8">
        Transferencias.
      </div>
      <div class="s-text8">
        Criptomonedas (Bitcoin)
      </div>

      <h4 class="s-text12 p-t-20">
        Proximamente
      </h4>

      <div class="p-t-9 p-r-15">
        <a href="#">
          <img class="h-size2" src="images/icons/paypal.png" alt="IMG-PAYPAL">
        </a>

        <a href="#">
          <img class="h-size2" src="images/icons/visa.png" alt="IMG-VISA">
        </a>

        <a href="#">
          <img class="h-size2" src="images/icons/mastercard.png" alt="IMG-MASTERCARD">
        </a>

        <a href="#">
          <img class="h-size2" src="images/icons/express.png" alt="IMG-EXPRESS">
        </a>

        <a href="#">
          <img class="h-size2" src="images/icons/discover.png" alt="IMG-DISCOVER">
        </a>
      </div>
    </div>

  </div>
  <div class="t-center p-l-15 p-r-15">
    <div class="t-center s-text8 p-t-20">
      Copyright © <%= DateTime.now.strftime('%Y') %> Todos los Derechos Reservados. | Tienda Nativa <i class="fa fa-heart-o" aria-hidden="true"></i> por <a href="http://www.technologynic.com/nic" target="_blank">Technology NIC</a>
    </div>
  </div>

</footer>