<!-- Header -->
<header class="header1">
  <!-- Header desktop -->
  <div class="container-menu-header">
    <div class="topbar">
      <div class="topbar-social">
        <a href="#" class="topbar-social-item fa fa-facebook"></a>
        <a href="#" class="topbar-social-item fa fa-instagram"></a>
      </div>
      <span class="topbar-child1">
        <%= link_to " Llámanos o Wasapéanos al +593 978973576", "https://api.whatsapp.com/send?phone=593978973576", class:"topbar-social-item fa fa-whatsapp", alt:"WhatsApp", target: "_blank" %>
      </span>
      <div class="topbar-child2">
        <span class="topbar-email">
          info@tiendanativa.com
        </span>
      </div>
    </div>
    <div class="wrap_header_container">
      <!-- Logo -->
      <div class="logo_container">
        <a class="logo_img" href="/">
          <img src="images/logo.jpg" width="20%" alt="TIENDA NATIVA">
        </a>
      </div>
      <!-- Menu -->
      <div class="wrap_menu">
        <nav class="menu">
          <ul class="main_menu">
            <li class="<%= 'sale-noti' if current_page?(root_path) %>"><%= link_to 'Principal', '/' %></li>
            <li class="<%= 'sale-noti' if current_page?(products_path) %>"><%= link_to 'Productos', products_path %></li>
            <li class="<%= 'sale-noti' if current_page?(offers_path) %>"><%= link_to 'Ofertas', offers_path %></li>
            <li class="<%= 'sale-noti' if current_page?(about_index_path) %>"><%= link_to 'Quienes somos', about_index_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- Header Mobile -->
  <div class="wrap_header_mobile">
    <!-- Logo moblie -->
    <div class="logo-mobile">
      <a href="/">
        <img src="images/logo.jpg" width="70px" alt="TIENDA NATIVA">
      </a>
    </div>
    <!-- Button show menu -->
    <div class="btn-show-menu">
      <!-- Header Icon mobile -->
      <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </div>
    </div>
  </div>

  <!-- Menu Mobile -->
  <div class="wrap-side-menu" >
    <nav class="side-menu">
      <ul class="main-menu">
        <li class="item-topbar-mobile p-l-20 p-t-8 p-b-8">
          <span class="topbar-child1">
            <%= link_to " Llámanos o Wasapéanos al +593 978973576", "https://api.whatsapp.com/send?phone=593978973576", class:"fa fa-whatsapp", alt:"WhatsApp", target: "_blank" %>
          </span>
        </li>
        <li class="item-topbar-mobile p-l-10">
          <div class="topbar-social-mobile">
            <a href="#" class="topbar-social-item fa fa-facebook"></a>
            <a href="#" class="topbar-social-item fa fa-instagram"></a>
            <span class="topbar-email"><a href="#" class="topbar-social-item fa fa-envelope-open"> info@tiendanativa.com</a></span>          
          </div>
        </li>
        <li class="item-menu-mobile"><%= link_to 'Principal', '/' %></li>
        <li class="item-menu-mobile"><%= link_to 'Productos', products_path %></li>
        <li class="item-menu-mobile"><%= link_to 'Ofertas', offers_path %></li>
        <li class="item-menu-mobile"><%= link_to 'Quienes somos', about_index_path %></li>
      </ul>
    </nav>
  </div>
</header>