<div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
	<div class="leftbar p-r-20 p-r-0-sm">
		<!--  -->
		<h4 class="m-text14 p-b-7">
			Categorias
		</h4>
		<ul class="p-b-54">
			<li class="p-t-4">
				<%= link_to 'Todos', products_path, class:"s-text13 active1" %>
			</li>
      <% @categories.each do |category| %>
        <li class="p-t-4">
          <%= link_to category.name, category_path(category), class:"s-text13" %>
        </li>
      <% end %>
		</ul>
	</div>
</div>