<!-- Header -->
<%= render "commun/header" %>

<!-- Title Page -->
<section  class="bg-title-page p-t-40 p-b-50 flex-col-c-m"
          style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(images/heading-pages-06.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center center;
                color: #fff;
                text-align: center;">
  <div class="bo13 p-l-29 m-l-9 p-b-10">
    <h2 class="l-text2 t-center">
      Es mejor hecho en Ecuador.
    </h2>

    <span class="s-text7" style="color: white">
      - Tienda Nativa
    </span>
  </div>
</section>

<!-- content page -->
<section class="bgwhite p-t-66 p-b-38">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-b-30">
        <div class="hov-img-zoom">
          <img src="images/banner-14.jpg" alt="IMG-ABOUT">
        </div>
      </div>

      <div class="col-md-8 p-b-30">
        <h3 class="m-text26 p-t-15 p-b-16">
          Misión.
        </h3>

        <p class="p-b-28">
          Proyectar a nivel nacional los productos, desarrollados en los rincones de ecuador, con materia prima ecuatoriana, socializando, vendiendo y distribuyendo a nivel nacional, para así ampliar y potenciar su calidad, sabor y material.
        </p>

        <h3 class="m-text26 p-t-15 p-b-16">
          Visión.
        </h3>

        <p class="p-b-28">
          Ser reconocido como la plataforma que permita la trascendencia de los sabores , colores y forma en el resto del país, apalancando el desarrollo del productor interno.
        </p>

        <h3 class="m-text26 p-t-15 p-b-16">
          Quienes Somos.
        </h3>

        <p class="p-b-28">
          Somos unos emprendedores que creemos en la calidad, sabor, durabilidad, fortaleza de los productos ecuatorianos, que se ha propuesto unirlos en una plataforma digital y demostrar al resto de las provincias que tenemos productos internos que pueden ser mejor que sus pares extranjeros, cediendo el espacio como plaza Tienda Nativa, donde el productor pueda mostrar sus productos , venderlos y distribuirlos y así mejorar la proyección y cobertura de sus productos.
        </p>
        <p class="p-b-28">
          El proyecto nace de 2 personas conocidas que se encuentra una en Sierra y la otra en la Costa Ecuatoriana, e intercambian las bondades de ambas regiones.
        </p>

        <div class="bo13 p-l-29 m-l-9 p-b-10">
          <p class="p-b-11">
            La creatividad es solo conectar cosas. Cuando les preguntas a las personas creativas cómo hicieron algo, se sienten un poco culpables porque realmente no lo hicieron, solo vieron algo. Les pareció obvio después de un rato.
          </p>

          <span class="s-text7">
            - Steve Job’s
          </span>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<%= render "commun/footer"%>