<!-- Header -->
<%= render "commun/header" %>

<!-- Title Page -->
<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m"
  style="background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url(images/heading-pages-02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        color: #fff;
        text-align: center;">

  <h2 class="l-text2 t-center">
    Producto en Ecuador.
  </h2>
  <p class="m-text13 t-center">
    Categoria <%= @category.name %>
  </p>
</section>

<!-- Content page -->
<section class="bgwhite p-t-55 p-b-65">
  <div class="container">
    <div class="row">
      <!-- Left_bar -->
      <%= render "commun/left_bar"%>

      <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
        <!--  -->

        <!-- Product -->
        <div class="row">
          <!-- Card Product -->
          <%= render partial: "commun/card_product", locals: { products: @products } %>
        </div>
        <!-- Pagination -->
        <div class="row text-center">
          <div class="col-6 col-md-3 p-b-30 m-l-r-auto">
            <div class="d-flex justify-content-center">
              <%== pagy_bootstrap_nav(@pagy) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Footer -->
<%= render "commun/footer"%>

<!-- Whatsapp to top -->
<div class="whatsapp bg0-hov">
  <span class="symbol-btn-back-to-top">
    <%= link_to "", "https://api.whatsapp.com/send?phone=593978973576", class:"fa fa-whatsapp whatsapp-icon", alt:"WhatsApp", target: "_blank" %>
  </span>
</div>