<!-- Header -->
<%= render "commun/header" %>
<%= render partial: "layouts/breadcrumb", locals: { header_list: [{ :name => "Productos", :path => products_path }, { :name => @product.name }]} %>

<!-- Product Detail -->
<div class="container bgwhite p-t-35 p-b-80">
  <div class="flex-w flex-sb">
    <div class="w-size13 p-t-30 respon5">
      <div class="wrap-slick3 flex-sb flex-w">
        <div class="wrap-slick3-dots"></div>
        <div class="slick3">
          <% images = set_images(@product.picture_1, @product.picture_2, @product.picture_3) %>
          <% images.each do |image| %>
            <div class="item-slick3" data-thumb="<%= asset_path(image) %>">
              <div class="wrap-pic-w">
                <%= cl_image_tag asset_url(image), :alt => "" %>  
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="w-size14 p-t-30 respon5">
      <h4 class="product-detail-name m-text16 p-b-13">
        <%= @product.name %>
      </h4>

      <% if @product.offer %>
        <span class="block2-newprice m-text8 p-r-5 size">
          $<%= @product.price_offer %>
        </span>
      <% end %>
      <span class="block2-price m-text17 p-r-5 <%= 'block2-oldprice m-text7 p-r-5' if @product.offer %>">
        $<%= @product.price_base %>
      </span><br/>

      <!--  -->
      <div class="p-t-33 p-b-60">
        <div class="flex-r-m flex-w p-t-10">
          <div class="flex-m flex-w">
            <div class="btn-addcart-product-detail size15 trans-0-4 m-t-10 m-b-10">
              <!-- Button -->
              <%= link_to "ORDENAR", "#my-modal-buy", :class => "flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 m-l-10 m-r-10", "data-toggle" => "modal" %>
            </div>
          </div>
        </div>
      </div>

      <!--  -->
      <div class="wrap-dropdown-content bo6 p-t-15 p-b-14 active-dropdown-content">
        <h5 class="js-toggle-dropdown-content flex-sb-m cs-pointer m-text19 color0-hov trans-0-4">
          Descripción Adicional
          <i class="down-mark fs-12 color1 fa fa-minus dis-none" aria-hidden="true"></i>
          <i class="up-mark fs-12 color1 fa fa-plus" aria-hidden="true"></i>
        </h5>
        <div class="dropdown-content dis-none p-t-15 p-b-23">
          <p class="s-text8">
            <span class="s-text8 m-r-35">Por: <%= @product.provider.first_name %> <%= @product.provider.last_name %></span>
            <span class="s-text8 m-r-35">Categora: <%= @product.category.name %> </span>
            <span class="s-text8">En: <%= @product.city.name %> </span>
          </p>
          <p class="s-text8 p-t-10">
            <%= @product.description %>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer @product -->
<%= render "commun/footer"%>

<div class="modal hide fade m-t-5" id="my-modal-buy" title="Form Buy" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Quieres comprar: <%= @product.name%></h5>
      </div>
      <div class="modal-body">
        <p>Hola, déjanos tus datos al <b>CREAR PEDIDO</b>, un asesor se contactará contigo para realizar y finalizar tu orden.</p>
        <% url = "https://wa.me/593978973576?text=%C2%A1Hola!%20Quiero%20comprar%20" %>
        <% p = @product %>
        <%= form_tag(url + p.name, method: "get") do |f| %>
          <div class="modal-footer">
            <button type="button" class="flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 m-l-10 m-r-10" data-dismiss="modal">Cancelar</button>
            <%pId = products_path + "/" + p.id.to_s%>
            <%= link_to "CREAR PEDIDO", url + p.name + " https://www.natienda.com" + pId, class:"flex-c-m sizefull bg1 bo-rad-23 hov1 s-text1 trans-0-4 m-l-10 m-r-10", target: "_black" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>