<!-- breadcrumb -->
<div class="bread-crumb bgwhite flex-w p-l-52 p-r-15 p-t-30 p-l-15-sm">
  <li>
    <a href="/" class="s-text16">
      Principal
      <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
    </a>
  </li>

  <% header_list.each do |item| %>
    <li class=" <%= 'sale-noti' if item.equal? header_list.last%>">
      <a href="<%= item[:path] %>" class="s-text16"><%= item[:name] %>
        <i class="fa fa-angle-right m-l-8 m-r-9" aria-hidden="true"></i>
      </a>
    </li>
  <% end %>

</div>