<!DOCTYPE html>
<html>
  <head>
    <title>Tienda Nativa</title>
    	<meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
      <link rel="icon" type="image/png" href="images/icons/favicon.png"/>
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/themify/themify-icons.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
      <link rel="stylesheet" type="text/css" href="fonts/elegant-font/html-css/style.css">
    <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
    <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
    <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
    <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="vendor/lightbox2/css/lightbox.min.css">
    <!--===============================================================================================-->
	    <link rel="stylesheet" type="text/css" href="css/util.css">
	    <link rel="stylesheet" type="text/css" href="css/main.css">
	    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!--===============================================================================================-->
    <%= csrf_meta_tags %>
  </head>

  <body>
    <%= yield %>
    <!-- Whatsapp to top -->
    <div class="whatsapp bg0-hov">
      <span class="symbol-btn-back-to-top">
        <%= link_to "", "#my-modal", :class => "fa fa-whatsapp whatsapp-icon", "data-toggle" => "modal" %>
      </span>
    </div>
    <!-- Back to top -->
    <div class="btn-back-to-top bg0-hov" id="myBtn">
      <span class="symbol-btn-back-to-top">
        <i class="fa fa-angle-double-up" aria-hidden="true"></i>
      </span>
    </div>
    <div class="modal hide fade m-t-5" id="my-modal" title="Form Buy" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Contactos WhatsApp:</h5>
            <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> %>
          </div>
          <div class="modal-body">
            <p>
              <b style="margin-right: 2%">Soporte tecnico: </b>
              <span class="symbol-btn-back-to-top" style="font-size: 1.2em;">
                <%= link_to "+593978973576", "https://api.whatsapp.com/send?phone=593978973576", class:"fa fa-whatsapp", alt:"WhatsApp", target: "_blank" %>
              </span>
            </p>
            <p>
              <b style="margin-right: 2%">Ventas: </b>
              <span class="symbol-btn-back-to-top" style="font-size: 1.2em;">
                <%= link_to "+593999795295", "https://api.whatsapp.com/send?phone=593999795295", class:"fa fa-whatsapp", alt:"WhatsApp", target: "_blank" %>
              </span>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--===============================================================================================-->
      <script type="text/javascript" src="vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
      <script type="text/javascript" src="vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
      <script type="text/javascript" src="vendor/bootstrap/js/popper.js"></script>
      <script type="text/javascript" src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
      <script type="text/javascript" src="vendor/select2/select2.min.js"></script>
      <script type="text/javascript">
        $(".selection-1").select2({
          minimumResultsForSearch: 20,
          dropdownParent: $('#dropDownSelect1')
        });
      </script>
    <!--===============================================================================================-->
      <script type="text/javascript" src="vendor/slick/slick.min.js"></script>
      <script type="text/javascript" src="js/slick-custom.js"></script>
    <!--===============================================================================================-->
      <script type="text/javascript" src="vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
      <script type="text/javascript" src="vendor/lightbox2/js/lightbox.min.js"></script>
    <!--===============================================================================================-->
      <script type="text/javascript" src="vendor/sweetalert/sweetalert.min.js"></script>
      <script type="text/javascript">
        $('.block2-btn-addcart').each(function(){
          var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
          $(this).on('click', function(){
            swal(nameProduct, "is added to cart !", "success");
          });
        });

        $('.block2-btn-addwishlist').each(function(){
          var nameProduct = $(this).parent().parent().parent().find('.block2-name').html();
          $(this).on('click', function(){
            swal(nameProduct, "is added to wishlist !", "success");
          });
        });
      </script>
    <!--===============================================================================================-->
      <script src="js/main.js"></script>
    <!--===============================================================================================-->
  </body>
</html>